.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F8F9FA;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #066F6A;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #055B57;
}